body {
		background-color: black;
	}


@media  (max-width: 1080px){

	body {
			background-color: blue;
		}

}


@media  (max-width: 550px){

	body {
			background-color: purple;
		}
	
}


@media  (max-width: 400px){
	
	body {
			background-color: pink;
		}

}
